<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href='{{url_for("static",filename="about.css")}}' />
        <title>Document</title>
    </head>
    <body>
        <div class="h">
            <h1 style="text-align:center" class="z">.... About ....</h1>
            <div class="apple">
                <img src="/static/picG.png" height="500px" width="560px">
            </div>
            <ul class="i">
                <h2><u>About Us</u></h2>
                    <li>Welcome to our website WHAT NEXT..?</li>
                    <li>We are group of 7 members.</li>
                    <li>We are trying to provide information about available courses after 10th.</li>
                    <li>Our main goal is to provide information for students,<br>
                        who are confused about "WHAT course to choose NEXT ?".</li>
                <h2><u>Information Provided</u></h2>
                    <li>Courses After 10th</li>
                    <li>Courses After 12th(Intermediate)</li>
                    <li>Courses After Under Graduation(UG)</li>
                    <li>Some more Information About courses.You can find it by clicking 'MORE' option</li>
                <h2><u>Available Options</u></h2>
                    <li>Register- you can register in our site to get updates from our site.</li>
                    <li>To Register click on 'REGISTER' button in home page.</li>
                    <li>We provided some inspirational 'QUOTES' to make you Inspire.</li>
                    <li>We also provided some questions to analyse yourself to choose your career path.</li>
                <h2><u>Greetings</u></h2>
                    <li>THANK YOU for visiting our website.</li>
                    <li>We hope that you are on the way to choose your right course with "WHAT NEXT..?"</li>
            </ul>
        </div>
    </body>
</html>