<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href='{{url_for("static",filename="after12th.css")}}' />
        <title>After 12th</title>
    </head>
    <body>
        <div>
            <nav class="navbar">
                <a class="active" href="/">Home</a>
                <a href="/after10th">After 10th</a>
                <a href="/after12th">After 12th</a>
                <a href="/afterUG">After UG</a>
                <a href="/exams">Exams</a>
                <a href="/more">More</a>
            </nav>
        </div>
        <br>
        <div class="A">
            <h1 class="B">Courses After 12th</h1>
            <div class="apple">
                <img src="/static/picF.png" height="500px" width="500px">
            </div>
            <ol start="number" type="I" class="C">
                <li><h3><u>Courses After 12th - MPC</u></h3></li>
                <ul type="disc" class="D">
                    <li>BTech Civil Engineering</li>
                    <li>Btech Mechanical Engineering</li>
                    <li>Btech Chemical Engineering</li>
                    <li>BTech Electronics & Communication Engineering</li>
                    <li>BTech Information Technology</li>
                    <li>BTech Genetic Engineering</li>
                    <li>BTech Aeronautical Engineering</li>
                    <li>BTech Automobile Engineering</li>
                    <li>BTech Civil and Structural Engineering</li>
                    <li>BTech Industrial Engineering</li>
                    <li>BTech Instrumentation & Control Engineering</li>
                    <li>BTech Mining Engineering</li>
                    <li>BTech Electronics </li>
                    <li>BTech Biotechnology</li>
                    <li>BTech Food Technology</li>
                    <li>BSc Physics</li>
                    <li>BSc Chemistry</li>
                    <li>BSc Mathematics</li>
                    <li>BSc in Economics</li>
                    <li>BSc Aviation</li>
                    <li>BSc Home Science</li>
                    <li>BSc in Robotics</li>
                    <li>BSC in Applied Mathematics</li>
                    <li>BSc in Statistics</li>
                    <li>BSc In Nautical Sciences</li>
                    <li>BSc in Data Science/ Data Analytics</li>
                    <li>BSc in Actuarial Sciences</li>
                    <li>BSc in Finance</li>
                    <li>Bachelor of Computer Application and Computer Science</li>
                    <li>Bachelor of Business Administration(BBA)</li>
                    <li>BBA Sales</li>
                    <li>BBA Marketing</li>
                    <li>BBA Entrepreneurship</li>
                    <li>BMS BBA Accounting</li>
                    <li>B.Com</li>
                    <li>BA in Hotel Management</li>
                    <li>BA in Retail Management</li>
                    <li>BA in Fashion Merchandising and Marketing</li>
                    <li>BA in Travel and Tourism Management</li>
                    <li>Bachelor of Business Economics</li>
                    <li>Bachelor of International Business and Finance</li>
                    <li>Bachelor of Fashion Technology</li>
                    <li>Management Studies</li>
                    <li>Banking and Insurance </li>
                    <li>Chartered Accountancy(CA)</li>
                    <li>Company Secretary(CS)</li>
                    <li>BSc Environmental Studies</li>
                    <li>Bachelor of Architecture </li>
                    <li>B.Des Product Design</li>
                    <li>B.Des Industrial Design/Vehicle Design</li>
                    <li>B.Planning</li>
                    <li>Commercial Pilot License</li>
                    <li>autical Science/ Merchant Navy Training</li>
                </ul>
                <li><h3><u>Courses After 12th - BiPC</u></h3></li>
                <ul type="disc" class="D">
                    <li>MBBS</li>
                    <li>BDS</li>
                    <li>Bachelor of Veterinary Science</li>
                    <li>Bachelor of Occupational Therapy</li>
                    <li>Bachelor of Physiotherapy</li>
                    <li>Bachelor of Environmental Management</li>
                    <li>Bachelor/BTech Biotechnology</li>
                    <li>Integrated BTech-MTech Biotechnology</li>
                    <li>BS in Bioinformatics</li>
                    <li>Bachelor of Viticulture</li>
                    <li>Bachelor of Naturopathy and Yogic Science(BNYS course)</li>
                    <li>Bachelor of Ayurvedic Medicine and Surgery(BAMS)</li>
                    <li>Bachelor of Unani Medicine and Surgery(BUMS)</li>
                    <li>BSc Courses [Multiple Specialisations]</li>
                    <li>BS/Bachelor of Arts [Biochemistry/Biology/Biotechnology, Microbiology, etc]</li>
                </ul>
                <li><h3><u>Courses After 12th - Commerce</u></h3></li>
                <ul type="disc" class="D">
                    <li>Bachelor of Commerce(B.Com)</li>
                    <li>Bachelor of Commerce(General)</li>
                    <li>Bachelor of Commerce(Marketing)</li>
                    <li>Bachelor of Commerce in Tourism & Travel Management</li>
                    <li>Bachelor of Commerce in Banking and Insurance(BBI)</li>
                    <li>Bachelor of Commerce in Financial Market(BFM)</li>
                    <li>Bachelor of Economics(BE)</li>
                    <li>Bachelor of Accounting and Finance(BAF)</li>
                    <li>Bachelor of Business Administration(BBA)</li>
                    <li>Bachelor of Business Administration - International Business(BBA-IB)</li> 
                    <li>Bachelor of Business Administration - Computer Application(BBA-CA)</li>
                </ul>
                <li><h3><u>Courses After 12th - Art's</u></h3></li>
                <ul type="disc" class="D">
                    <li>BA in Humanities & Social Sciences</li>
                    <li>BA in Arts [Fine/ Visual/ Performing]</li>
                    <li>Bachelor of Fine Arts(BFA)</li>
                    <li>BDes in Animation</li>
                    <li>BA LLB</li>
                    <li>BDes in Design</li>
                    <li>BSc in Hospitality & Travel</li>
                    <li>BSc in Design</li>
                    <li>Bachelor of Journalism & Mass Communication(BJMC)</li>
                    <li>BHM in Hospitality & Travel</li>
                    <li>BA in Hospitality & Travel</li>
                    <li>BA in Animation</li>
                    <li>Diploma in Education(DEd)</li>
                    <li>B.Com in Accounting and Commerce</li>
                    <li>BBA LLB</li>
                    <li>BCA [IT and Software]</li>
                </ul>
                <li><h3><u>Some Professional Courses To Pursue</u></h3></li>
                <ul type="disc" class="D">
                    <li>Industry Oriented Integrated Courses</li>
                    <li>Chartered Accountancy</li>
                    <li>Company Secretary(CS)</li>
                    <li>Cost and Management Accountant</li>
                    <li>Journalism and Mass Communication</li>
                </ul>
                <li><h3><u>Some Other Courses That You Can Check Out</u></h3></li>
                <ul type="disc" class="D">
                    <li>BA in Humanities & Social Sciences</li>
                    <li>BA LLB</li>
                    <li>Bachelor of Design in Accessory Design, Fashion Design, Ceramic Design, Leather Design, Graphic Design, Industrial Design, Jewellery Design</li>
                    <li>Bachelor in Foreign Language</li>
                    <li>Diploma in Education(DEd)</li>
                </ul>
            </ol>
        </div>
    </body>
</html>