<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href='{{url_for("static",filename="after10th.css")}}' />
        <title>After 10th</title>
    </head>
    <body>
        <div>
            <nav class="navbar">
                <a class="active" href="/">Home</a>
                <a href="/after10th">After 10th</a>
                <a href="/after12th">After 12th</a>
                <a href="/afterUG">After UG</a>
                <a href="/exams">Exams</a>
                <a href="/more">More</a>
            </nav>
        </div>
        <br>
        <div class="A">
            <h1 class="B">Courses After 10th</h1>
            <div class="apple">
                <img src="/static/picE.png" height="500px" width="500px">
            </div>
            <ol start="number" type="I" class="C">
                <li><h3><u>Intermediate Courses(Class 11th and 12th)</u></h3></li>
                <ul type="disc" class="D">
                    <li>MPC-->Mathematics - Physics - Chemistry</li> 
                    <li>BiPC-->Biology - Physics - Chemistry</li>
                    <li>CEC-->Civics - Economics - Commerce</li>
                    <li>HEC-->History - Economics - Civics</li>
                    <li>MEC-->Maths - Economics - Commerce</li>
                    <li>ECH-->Economics - commerce - History </li>
                    <li>ECG-->Economics - commerce - Geography</li>
                </ul>
                <li><h3><u>Polytechnic Courses</u></h3></li>
                <ul type="disc" class="D">
                    <li>Diploma in Computer Programming</li>
                    <li>Graduate Certificate in Marketing Management</li>
                    <li>Diploma in Petroleum Engineering</li>
                    <li>Diploma in Business Administration</li>
                    <li>Diploma in Animation, Art & Design</li>
                    <li>Diploma in Hospitality Management</li>
                    <li>Diploma in Accounting</li>
                    <li>Diploma of Early Childhood Education & Care</li>
                </ul>
                <li><h3><u>Diploma Courses</u></h3></li>
                <ul type="disc" class="D">
                    <li>Diploma in Information Technology</li>
                    <li>Diploma in Hotel Management</li>
                    <li>Diploma in Event Management</li>
                    <li>Diploma in Business Management</li>
                    <li>Diploma in Education</li>
                    <li>Diploma in Psychology</li>
                    <li>Diploma in Pharmacy</li>
                    <li>Diploma in Elementary Education</li>
                    <li>Diploma in Digital Marketing</li>
                    <li>Diploma in Fine Arts</li>
                    <li>Diploma in English</li>
                    <li>Diploma in Fashion Designing</li>
                    <li>Diploma in Bakery & Confectionery</li>
                    <li>Diploma in Cosmetology</li>
                    <li>Diploma in Beauty Therapy</li>
                    <li>Diploma in Information Technology</li>
                    <li>Diploma in Marine Engineering</li>
                    <li>Diploma in Leather Designing</li>
                    <li>Diploma in Food Technology</li>
                    <li>Diploma in Web Designing</li>
                    <li>Diploma in Game Designing</li>
                    <li>Diploma in Mechanical Engineering</li>
                    <li>Diploma in Engineering</li>
                    <li>Diploma in Journalism</li>
                    <li>Diploma in Photography</li>
                    <li>Diploma in Graphic Designing</li>
                    <li>Diploma in Web Development</li>
                    <li>Diploma in Hotel Reception & Book-keeping</li>
                    <li>Diploma in Animation</li>
                    <li>Diploma in Textile Designing</li>
                    <li>Diploma in Textile Engineering</li>
                </ul>
                <li><h3><u>ITI Courses</u></h3></li>
                <ul type="disc" class="D">
                    <li>Diploma in Computer Application</li>
                    <li>Certificate in Social Media Management</li> 
                    <li>Diploma in Hardware Maintenance</li>
                    <li>Certificate Course in Search Engine Marketing</li>
                    <li>Computer Technician Diploma</li>
                    <li>Certificate in Search Engine Optimisation</li>
                    <li>Certificate in Graphic/Web Design</li>
                    <li>certificate Course in Programming Language</li>
                </ul>
                <li><h3><u>Vocational Courses</u></h3></li>
                <ul type="disc" class="D">
                    <li>Certificate in Animation</li>
                    <li>Certificate Course in Functional/Spoken English</li>
                    <li>Certification in Mobile Repairing course</li>
                    <li>Diploma in Commercial PractiseDiploma in Cosmetology</li>
                    <li>Diploma in Stenography</li>
                    <li>Diploma in Leather Technology</li>
                    <li>Diploma in Mechanical Engineering</li>
                    <li>Diploma in 3D Animation</li>
                </ul>
            </ol>
        </div>
    </body>
</html>