<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href='{{url_for("static",filename="afterUG.css")}}' />
        <title>After UG</title>
    </head>
    <body>
        <div>
            <nav class="navbar">
                <a class="active" href="/">Home</a>
                <a href="/after10th">After 10th</a>
                <a href="/after12th">After 12th</a>
                <a href="/afterUG">After UG</a>
                <a href="/exams">Exams</a>
                <a href="/more">More</a>
            </nav>
        </div>
        <br>
        <div class="A">
            <h1 class="B">Courses After Under Graduation(UG)</h1>
            <div class="apple">
                <img src="/static/ug.png" height="500px" width="500px">
            </div>
            <ol start="number" type="I" class="C">
                <li><h3><u>Some Professional Courses After Graduation in Science</u></h3></li>
                <ul type="disc" class="D">
                    <li>Master of Science(MS/MSc)</li>
                    <li>Master of Technology(MTech)/Master of Engineering(MEng)</li>
                    <li>Master of Computer Applications(MCA)</li>
                    <li>Master in Computer Science</li>
                    <li>PG Diploma in Business Analytics</li>
                    <li>Paramedical Courses</li>
                    <li>PG Diploma in Hospital Management/Hospital Administration</li>
                    <li>Master of Business Administration(MBA)</li>
                    <li>Financial Engineering Courses</li>
                    <li>Mobile App Development Courses</li>
                    <li>Robotics Engineering Courses</li>
                </ul>
                <li><h3><u>Some Professional Courses After Graduation in Commerce</u></h3></li>
                <ul type="disc" class="D">
                    <li>Chartered Accountancy(CA)</li>
                    <li>M.Com</li>
                    <li>MBA</li>
                    <li>MCA</li>
                    <li>Post Graduate Diploma in Computer Applications(PGDCA)</li>
                    <li>Chartered Financial Analyst(CFA)</li>
                    <li>Business Accounting and Taxation(BAT)</li>
                    <li>Tally Course</li>
                    <li>Masters in Digital Marketing</li>
                    <li>PGDM in Finance</li>
                    <li>PGDEMA</li>
                    <li>Certification Courses for Commerce Students like Certificate in E-commerce,<br>
                         Certificate in Banking, Certificate in Accounting, etc.</li>
                </ul>
                <li><h3><u>Some Professional Courses After Graduation in Art's</u></h3></li>
                <ul type="disc" class="D">
                    <li>Master of Business Administration(MBA)</li>
                    <li>Master of Arts(MA) Or Master of Fine Arts(MFA)</li>
                    <li>PG Diploma/Masters in Journalism and Communication</li>
                    <li>Bachelor of Education(BEd)</li>
                    <li>Bachelor of Library Science</li>
                    <li>Masters/PG Diploma in Digital Marketing</li>
                    <li>LLB</li>
                    <li>Foreign Language Courses</li>
                    <li>PG Diploma in Management(PGDM)</li>
                    <li>PG Diploma in Business Analytics(PGDBA)</li>
                    <li>PG Diploma in Digital Marketing</li>
                    <li>PGDEMA</li>
                </ul>
            </ol>
        </div>
    </body>
</html>