<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href='{{url_for("static",filename="exams.css")}}' />
        <title>EXAMS</title>
    </head>
    <body>
        <div>
            <nav class="navbar">
                <a class="active" href="/">Home</a>
                <a href="/after10th">After 10th</a>
                <a href="/after12th">After 12th</a>
                <a href="/afterUG">After UG</a>
                <a href="/exams">Exams</a>
                <a href="/more">More</a>
            </nav>
        </div>
        <br>
        <div class="A">
            <h1 class="B">EXAMS</h1>
            <div class="apple">
                <img src="/static/picB.png" height="500px" width="500px">
            </div>
            <h2 class="C">ENTRANCE EXAMS</h2>
            <ol start="number" type="I" class="D">
                <li><h3><u>Exams After 10th</u></h3></li>
                <ul type="disc" class="E">
                    <li>KYPY   - Kishore Vaigyanik Prostsahan Yojana</li>
                    <li>NTSE   - National Talent Search Examination</li>
                    <li>INO    - Indian National Olympiad</li>
                    <li>NSTSE  - National Level Science Talent Search Examination</li>
                    <li>SAT    - Scholastic Aptitude Test</li>
                    <li>ASSET  - Assessment of Scholastic Tests</li>
                    <li>IEO    - International English Olympiad</li>
                    <li>INMR   - Indian Navy Matric Recruitment</li>
                    <li>INEE   - Indian Navy Entrance Exam</li>
                    <li>JNVST  - Jawahar Navodaya Vidhyalaya Selection Test</li>
                    <li>NBO    - National BioTechnology Olympiad</li>
                    <li>NIMO   - National Interactive Math Olympiad</li>
                    <li>SOF    - Science Olympiad Foundation</li>
                    <li>NLSTSE - National Level Science Talent Search Exam </li>
                    <li>Geoscience Olympiad
                        <ul type="square" class="E">
                            <li>INESO - Indian National Earth Science Olympiad</li>
                            <li>IESO  - International Earth Science Olympiads</li>
                        </ul>
                    </li>
                </ul>
                <li><h3><u>Exams After 12th</u></h3></li>
                <ul type="disc" class="E">
                    <li>JEE/JEE MAIN/JEE ADVANCED - Joint Entrance Examination</li>
                    <li>NEET       - National Eligibility Entrance Test</li>
                    <li>NTSE       - National Talent Search Examination</li>
                    <li>IMUCET     - Indian Maritime University Common Entrance Test</li>
                    <li>NDA        - National Defence Academy Exam</li>
                    <li>MRNAT      - Manav Rachna National Aptitude Test</li>
                    <li>SAT        - Scholastic Assessment Test</li>
                    <li>CLAT       - Common Law Admission Test</li>
                    <li>ACLAT      - Alliance Common Law Admission Test</li>
                    <li>CUSAT      - Cochin University Of Science And Technology</li>
                    <li>NCHMCT JEE - National Council Of Hotel Management and Catering Technology Joint Entrance Examination</li>
                    <li>NIFT       - National Institute Of Fashion Technology</li>
                    <li>CPT        - Common Proficiency Test</li>
                    <li>NATA       - Nation Aptitude Test In Architecture</li>
                    <li>AIIMS      - All India Institute of Medical Sciences</li>
                    <li>AILET      - All India Law Entrance Test</li>
                    <li>NID(DAT)   - National Institute of Design(Design Apitude Test)</li>
                    <li>AIEED      - All India Entrance Examination for Design</li>
                    <li>NEET(UG)   - NATIONAL ELIGIBILITY CUM ENTRANCE TEST </li>
                    <li>AIPMT      - All India Pre Medical Test</li>
                    <li>INO        - Indian National Olympiad</li>
                    <li>IEO        - International English Olympiad</li>
                    <li>NBO        - National BioTechnology Olympiad</li>
                </ul>
                <li><h3><u>Exams After UG</u></h3></li>
                <ul type="disc" class="E">
                    <li>CAT        - Common Admission Test</li> 
                    <li>MAT        - Management Aptitude Test</li>
                    <li>GRE        - Graduate Record Examinations</li> 
                    <li>GMAT       - Graduate Management Aptitude Test</li> 
                    <li>CPT        - Common Proficiency Test</li> 
                    <li>NEET(PG)   - National Eligibility-cum-Entrance Test</li>  
                    <li>GATE       - Graduate Aptitude Test in Engineering</li> 
                    <li>IIT JAM    - Joint Admission Test for Masters</li>  
                    <li>CLAT       - Common-Law Admission Test</li> 
                    <li>LSAT       - Law School Admission Test</li> 
                    <li>PGIMER     - Postgraduate Institute of Medical Education & Research</li> 
                    <li>JIPMER(PG) - Jawaharlal Institute of Postgraduate Medical Education & Research</li>   
                    <li>CEED       - Common Entrance Exam for Design</li>
                    <li>CMAT       - Comman Management Adimission Test</li>
                    <li>NEET(MDS)  - National Entrance cum Eligibility Test(Master of Dental Surgery)</li>
                    <li>AFCAT      - Air Force Common Admission Test</li>
                    <li>XAT        - Xavier Aptitude Test</li>
                </ul>
            </ol>
            <h2 class="C">SCHOLARSHIP EXAMS</h2>
            <ol start="number" type="1" class="D">
                <li><h3><u>Exams After 10th</u></h3></li>
                <ul type="disc" class="E">
                    <li>NTE   - National Talent Exam</li>
                    <li>NSE   - National Scholarship Exam</li>
                    <li>NMMS  - National Means Cum Merit Scholarship</li>
                    <li>ANTHE - Aakash National Talent Hunt Exam</li>
                    <li>INSPIRE Scholarship</li>
                    <li>Maulana Azad National Scholarship</li>
                    <li>Amar Ujala Scholarship</li>
                    <li>Dr.APJ Abdul Kalam IGNITE Awards</li>
                </ul>
            </ol>
        </div>
    </body>
</html>