<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href='{{url_for("static",filename="faq.css")}}' />
      <title>Document</title>
   </head>
   <body>
      <div class="g">
         <h1 class="G">Self Analyse Questions(SAQ) on Career Choosing</h1>
         <p style="font-size: 30px">Career has a big impact on your future. It will shape your identity, personal fulfillment,
            lifestyle, income, family, and retirement.Don’t let the opinions or expectations of others sway your decision-making.
            Ultimately, choosing a career is solely down to you.
         </p>
         <div class="c">Below you will find questions meant to prompt your career exploration.<u>Take time to reflect on each question,</u>
            as a strong understanding of yourself will be essential to effectively navigate the twists and turns of your unique career path.
            Get to know your values, personality type, strengths, and interests, as these all deeply inform your satisfaction with career 
            choice.
         </div>
         <div class="apple">
            <img src="/static/picA.png" height="500px" width="560px">
         </div>
         <ul style="font-size: 25px" style="font-family:Cochin">
            <li>1.What is important to me?</li>
            <li>2.What careers seem interesting to me? Why?</li>
            <li>3.Who has influenced my ideas about my career options?</li>
            <li>4.What jobs might I consider as a parallel plan? (Plan B, Plan C, etc.)</li>
            <li>5.What career paths can I cross off my list?</li>
            <li>6.How do I want to be remembered?</li>
            <li>7.What impact do I want to make on the world?</li>
            <li>8.What topics and ideas spark my curiosity?</li>
            <li>9.What do I “geek” over? What could I talk about for hours?</li>
            <li>10.What do I have to offer others?</li>
            <li>11.What comes naturally to me?</li>
            <li>12.How do I like to spend my time?</li>
            <li>13.What are my favorite classes, and why?</li>
            <li>14.What extracurricular activities do I enjoy? What have I learned about myself from participating in the activities?</li>
            <li>15.Who do I look up to? What about them inspires or motivates me?</li>
            <li>16.What personal qualities do I view as my strengths?</li>
            <li>17.What activities make me feel happy or energized?</li>
            <li>18.When do I feel most comfortable and at ease?</li>
            <li>19.What are the biggest lessons I’ve learned so far?</li>
            <li>20.How do I define success?</li>
            <li>21.If I were guaranteed success, what would I do?</li>
            <li>22.When have I been most inspired or most motivated?</li>
            <li>23.If I could choose a tattoo for myself, what might it be? Why?</li>
            <li>24.If I had a magic wand, what would I do for a year?</li>
         </ul>
         <h1><u>Things to do when you can't decide on a career</u></h1>
         <div class="d">It can be frustrating when you haven't landed on a solid career path which is holding you back,<br>
                        from taking action towards reaching it.<u>So how to overcome it..?</u>
         </div>
         <ul style="font-size:25px">
            <li>1.Implement a decision-making framework (like the 10 questions below!)</li>
            <li>2.Don't consider too many options at once</li>
            <li>3.Set yourself deadlines</li>
            <li>4.Use data</li>
            <li>5.Get a second opinion</li>
            <li>6.Accept that mistakes happen and there may not be a perfect decision</li>
         </ul>
         <h1> Here Are The 10 Questions to Ask yourself</h1>
         <ul style="font-size:25px">
            <li>1. What are my interests?</li>
            <li>2. What are my values?</li>
            <li>3. What is my personality?</li>
            <li>4. What are my skills?</li>
            <li>5. What are my talents and strengths?</li>
            <li>6. What education or training do I need?</li>
            <li>7. How much money do I want to make?</li>
            <li>8. Where do I want to live?</li>
            <li>9. Are there jobs available in this career?</li>
            <li>10. How competitive is this career path?</li>
         </ul>
      </div>   
   </body>
</html>