<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href='{{url_for("static",filename="more.css")}}' />
        <title>More</title>
    </head>
    <body>
        <div>
            <nav class="navbar">
                <a class="active" href="/">Home</a>
                <a href="/after10th">After 10th</a>
                <a href="/after12th">After 12th</a>
                <a href="/afterUG">After UG</a>
                <a href="/exams">Exams</a>
                <a href="/more">More</a>
            </nav>
        </div>
        <br>
        <div class="A">
            <h1 class="B">WANT TO KNOW MORE....</h1>
            <img src="/static/picC.png" alt="img" style="display: block;margin-left: auto;margin-right: auto;width: 25%;">
            <h2 class="C">Here is the INFO</h2>
            <ol start="number" type="I" class="D">
                <li><h3><u>POLYTECHNIC COURSES </u></h3></li>
                <ul type="disc" class="E">
                    <li>A polytechnic course is a progressive learning experience that allows students to participate in a diploma or vocational course based on technical education.</li>
                    <li>Polytechnic offer hands-on practical education and training in technical fields such as engineering, computer sciences, and applied sciences.</li>
                    <li>If you are looking for junior-level jobs in an engineering field or want to start earning early, the polytechnic is a good course.</li>
                    <li>Polytechnic courses can be pursued after 10th or 12th.</li>
                </ul>
                <li><h3><u>DIPLOMA COURSES</u></h3></li>
                <ul type="disc" class="E">
                    <li>Diploma courses are an excellent choice as they allow transferable credits towards higher education such as a degree or master's program.</li>
                    <li>By preferring these courses students can work in the various fields of engineering such as civil, mechanical, electrical, computer science, electronics and communication, aerospace, and many more.</li>
                    <li>A diploma allows you to start sooner and work your way up.</li>
                    <li>Diploma is recognized as short-term courses focusing on vocational training and skill development.</li>
                </ul>
                <li><h3><u>ITI COURSES</u></h3></li>
                <ul type="disc" class="E">
                    <li>ITIs can provide students with the skills and knowledge needed to pursue a wide range of employment opportunities in various trades and occupations.</li>
                    <li>The full form of ITI is Industrial Training Institute and it is a government training organization responsible for providing high school students with industry-related education.</li>
                    <li>Many private sectors need skilled ITI professionals. So career options are wide in agriculture, textiles, and construction.</li>
                    <li>Various public sector units (PSUs) like railways, state-wise PWDs, BSNL, IOCL, ONGC and many more provide job opportunities for ITI students.</li>
                    <li>ITI students can also explore job opportunities in the Indian army, Indian navy, BSF, CRPF, and other paramilitary forces.</li>
                </ul>
                <li><h3><u>VOCATIONAL COURSES</u></h3></li>
                <ul type="disc" class="E">
                    <li>Vocational education or Vocational Education and Training (VET), also called Career and Technical Education (CTE), prepares learners for jobs that are based in manual or practical activities, traditionally non-academic and totally related to a specific trade, occupation.</li>
                    <li>Vocational education can be at the secondary or post-secondary level.</li>
                    <li>It is awarded to students who have completed degree requirements for a specific field or trade.</li>
                    <li>It can make students more attractive to potential employers. Many vocational education programs also offer internships and job placement assistance, helping students transition from education to employment.</li>
                </ul>
            </ol>
        </div>
    </body>
</html>