<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href='{{url_for("static",filename="quotes.css")}}'/>
        <title>Quotes</title>
    </head>
    <body>
        <div class="f">
            <h1 style="text-align:center" class="y">Inspirational Quotes By Great Personalities</h1>
            <img src="/static/apj.jpg" alt="AK" style="display: block;margin-left: auto;margin-right: auto;width: 20%;">
            <h1 style="text-align: center"><u>Dr.A.P.J.Abdul Kalam</u></h1>
            <div class="e">
                <q>Education is the key to unlocking the world, a passport to freedom.</q><br>
                <q>There is no greatness without a passion to be great, whether it's the aspiration of an athlete or an artist, a scientist or a businessperson.</q><br>
                <q>You have to dream before your dreams can come true.</q><br>
                <q>Learning gives creativity, creativity leads to thinking, thinking provides knowledge, knowledge makes you great.</q><br>
                <q>Excellence is a continuous process and not an accident.</q><br>
                <q>Be more dedicated to making solid achievements than in running after selfish goals.</q><br>
                <q>Do we not realize that self-respect comes with achievement?</q><br>
            </div>
            <div class="A">
                <img src="/static/nm.jpg" alt="img" style="display: block;margin-left: 150px;margin-right: auto;width: 40%;"><br>
                <h1><u>Nelson Mandela</u><br><q style="font-style:italic">Education is the most powerful weapon which you can use to change the world.</q></h1>
            </div>
            <br>
            <br>
            <div class="B">
                <h1><u>Sudha Murthy</u><br><q style="font-style: italic">Vision without action is merely a dream;
                    action without vision is merely passing time;
                    but vision and action together can change the world.</q></h1>
                <img src="/static/sm.jpg" alt="img" style="display: block;margin-left: auto;margin-right: 150px;width: 35%;">
            </div>
            <br>
            <br>
            <div class="C">
                <img src="/static/as.jpg" alt="img" style="display: block;margin-left: 150px;margin-right: auto;width: 35%;">
                <h1 style="padding: 50px"><u>Arunima Sinha</u><br><q style="font-style: italic">Failure is not falling down, but refusing to get up.</q></h1>
            </div>
            <br>
            <br>
            <div class="D">
                <h1><u>Ratan Tata</u><br><q style="font-style: italic">None can destroy iron, but its own rust can! Likewise, none can destroy a person, but their own mindset can.</q></h1>
                <img src="/static/rt.jpg" alt="img" style="display: block;margin-left: auto;margin-right: 110px;width: 40%;">
            </div>
            <br>
            <br>
            <br>
            <div class="E">
                <img src="/static/mk.jpg" alt="img" style="display: block;margin-left: 130px;margin-right: auto;width: 40%;">
                <h1><u>Mary Kom</u><br><q style="font-style: italic">The truth is, the harder you fight, the sweeter are the rewards in the end.</q></h1>
            </div>
            <br>
            <br>
            <br>
            <div class="F">
                <h1><u>Nick Vujicic</u><br><q style="font-style: italic">It's a lie to think you're not good enough. It's a lie to think you're not worth anything.</q></h1>
                <img src="/static/nc.jpg" alt="img" style="display: block;margin-left: auto;margin-right: 130px;width: 40%;">
            </div>
        </div>
    </body>
</html>